<div class="seperate-buttons">
    <div class="create-back-button">
        <a href="./"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="create-trip-button">
        <a href="/trips/{{tripId}}/flight">Create flight</a>
    </div>
</div>
<div class="contain">
    <h1 class="underline">Flight details:</h1>
    <div class="flex-cards">
    {{#each flights}}
        <div class="trip-card">
            <div class="add-pass">
                <p>{{airline}}: #{{flightNumber}}</p>
                <form action=".{{tripId}}/joinflight" method="post">
                    <input type="hidden" name="flightNumber" value="{{flightNumber}}">
                    <button type="submit"><i class="fas fa-user-plus"></i></button>
                </form>
            </div>
            <p>{{departingAirport}} - {{arrivingAirport}}</p>
            <p></p>
            <p>{{departureTime}} - {{arrivalTime}}</p>
            <p>Passengers: </p>
            <p>
            {{#each passengers}}
                {{username}} - 
            {{/each}}
            </p>
        </div>
    {{/each}}
    </div>
</div>