<div class="create-back-button">
    <a href="./"><i class="fas fa-arrow-left"></i></a>
</div>
<div class="contain">
    <h1>Flight details</h1>
    {{#each flights}}
        <div>
            <p>{{flightNumber}}</p>
            <p>{{airline}}</p>
            <p>{{departingAirport}}</p>
            <p>{{arrivingAirport}}</p>
            <p>{{departureTime}}</p>
            <p>{{arrivalTime}}</p>
            <span>Passengers: </span>
            {{#each passengers}}
                <p>{{username}}</p>
            {{/each}}
        </div>
    {{/each}}
</div>