<div class="create-back-button">
    <a href="./"><i class="fas fa-arrow-left"></i></a>
</div>
<div class="create-trip-button">
    <a href="/trips/{{tripId}}/flight">Create flight</a>
</div>
<div class="contain">
    <h1 class="underline">Flight details:</h1>
    {{#each flights}}
        <div class="trip-card">
            <p>{{airline}}: #{{flightNumber}}</p>
            <p></p>
            <p>{{departingAirport}} - {{arrivingAirport}}</p>
            <p></p>
            <p>{{departureTime}} - {{arrivalTime}}</p>
            <span>Passengers: </span>
            {{#each passengers}}
                <p>{{username}}</p>
            {{/each}}
        </div>
    {{/each}}
</div>