<div class="create-back-button">
    <a href="./"><i class="fas fa-arrow-left"></i></a>
</div>
<div class="contain">
    <h1>Flight details</h1>
    {{#each flights}}
        <div class="flight-card">
            <p>{{this.airline}}</p>
            <p>#{{this.flightNumber}}</p>
            <p>From:{{this.departingAirport}}</p>
            <p>To:{{this.arrivingAirport}}</p>
            <p>Depart:{{this.departureTime}}</p>
            <p>Arrive:{{this.arrivalTime}}</p>
        </div>
    {{/each}}
</div>