<div class="contain">
    <h2 class="welcome-user">Welcome {{currentUser.username}}</h2>
    <div class="user-trips">
        <div class="add-trip-button">
            <h2 >Your trips:</h2>
            <div class="the-trip-button">
                <a href="/trips/new">+</a>
            </div>
        </div>
        <div class="flex-cards">
            {{#each trips}}
                <div class="user-card">
                    <a href='trips/{{this._id}}'>
                    <h3>{{this.title}}</h3>
                    <h5>{{this.description}}</h5>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
    <form action="/trips/join" method="post" class="form together">
        <input class="code-input" type="text" name="codetrip" placeholder="Trip Code">
        <button class="join-trip-button">Join Existing Trip</button>
    </form>
    {{#if messages.length}}
        <ul class="validation">
        {{#each messages}}<li>{{this}}</li>{{/each}}
        </ul>
    {{/if}}
</div>
