<div class="create-back-button">
    <a href="/profile"><i class="fas fa-arrow-left"></i></a>
</div>
<div class="contain">
    <div>
        <h2>{{title}}</h2>
        <span>{{startDate}}</span>
        <p>{{endDate}}</p>
        <h4>Description</h4>
        <p>{{description}}</p>
    </div>
    <div class="create-trip-button">
         <a href="/trips/{{_id}}/flightDetail">Reservations</a>
    </div>
    <br>
    <div class="create-trip-button">
        <a href="/trips/{{_id}}/flight">Create flight</a>
    </div>
</div>