<div class="create-back-button">
    <a href="/profile"><i class="fas fa-arrow-left"></i></a>
</div>
<div class="contain">
    <h1 class="underline">Trip details:</h1>
    <div class="trip-detail-card">
        <h2>{{result.title}}</h2>
        <p>{{newStartDate}} - {{newEndDate}}</p>
        <p>Description: {{result.description}}</p>
    </div>
    <div class="create-trip-button extra">
         <a href="/trips/{{result._id}}/flightDetail">Reservations</a>
    </div>
    <div class="create-trip-button extra">
        <a href="/trips/{{result._id}}/invite">Invite Friend to Trip</a>
    </div>
</div>