<div class="create-back-button">
    <a href="/profile"><i class="fas fa-arrow-left"></i></a>
</div>
<div class="contain">
    <div class="trip-card">
        <h2>{{result.title}}</h2>
        <p>{{newStartDate}} - {{newEndDate}}</p>
        <p>Description: {{result.description}}</p>
    </div>
    <div class="create-trip-button">
         <a href="/trips/{{result._id}}/flightDetail">Reservations</a>
    </div>
    <br>
    <div class="create-trip-button">
        <a href="/trips/{{result._id}}/flight">Create flight</a>
    </div>
</div>