<div class="create-back-button">
    <a href="/profile"><i class="fas fa-arrow-left">BACK</i></a>
</div>
<div class="contain">
    <h1 class="trip-header">Trip detail</h1>
    <div>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>{{this.startDate}}</p>
        <p>{{this.endDate}}</p>
    </div>
    <div class="create-trip-button">
        <a href="/trips/{{this._id}}/flight">Create flight</a>
    </div>
</div>